/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    text-align: center;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-image: -o-linear-gradient(310deg, #386641, #A7C957);
    background-image: linear-gradient(140deg, #386641, #A7C957);
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

a {
    -webkit-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
    color: #386641;
}

a:hover {
    -webkit-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
    color: #BC4749;
}

h1, h2, h3 {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h1 a {
    text-decoration: none;
    color: #000000;
}

p {
    line-height: 1.5em;
}

/* Header and navigation */

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 4vh;
    background: #F2E8CF;
    border-bottom: 2px solid #386641;
}

header h1 {
    margin-left: 1em;
}

navigation ul {
    position: absolute;
    z-index: 2;
    padding: 0;
    width: 15em;
    right: 0;
    top: 73%;
    list-style-type: none;
    border-radius: 0 0 10px 10px;
    padding-top: 0.5em;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F2E8CF), color-stop(30em, #A7C957));
    background-image: -o-linear-gradient(top, #F2E8CF, #A7C957 30em);
    background-image: linear-gradient(180deg, #F2E8CF, #A7C957 30em);
}

navigation li {
    width: 100%;
    display: block;
    padding: 0.5em 0;
    border-radius: 10px;
    -webkit-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}

navigation li:hover {
    -webkit-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
    background: #FFFFFF;
}

#burgerbutton {
    display: initial;
    position: absolute;
    right: 0.5em;
    z-index: 3;
}
#burgerbutton:hover > div {
    background: #BC4749;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

#burgerbutton > div {
    margin: 0.5em 0;
    padding: 0.1em 0;
    width: 50px;
    height: 5px;
    border-radius: 5px;
    background: #386641;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

/* */

main {
    margin: auto;
    margin-bottom: 2em;
}

section {
    width: 85%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

img {
    border-radius: 20px;
}

/* Index page */

#homeimage {
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 60%;
    margin-right: 5vw;
}

#hometext {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 2.5em;
}

#homecontentwrapper {
    margin: auto;
}

#contactbutton {
    -webkit-transition: border 1s, color 1s, -webkit-box-shadow 1s;
    transition: border 1s, color 1s, -webkit-box-shadow 1s;
    -o-transition: border 1s, box-shadow 1s, color 1s;
    transition: border 1s, box-shadow 1s, color 1s;
    transition: border 1s, box-shadow 1s, color 1s, -webkit-box-shadow 1s;
    padding: 1em;
    text-decoration: none;
    background: #FFFFFF;
    border: 3px solid #386641;
    -webkit-box-shadow:#386641 3px 3px;
    box-shadow:#386641 3px 3px;
    white-space: nowrap;
}

#contactbutton:hover {
    -webkit-transition: border 1s, color 1s, -webkit-box-shadow 1s;
    transition: border 1s, color 1s, -webkit-box-shadow 1s;
    -o-transition: border 1s, box-shadow 1s, color 1s;
    transition: border 1s, box-shadow 1s, color 1s;
    transition: border 1s, box-shadow 1s, color 1s, -webkit-box-shadow 1s;
    border: 3px solid #BC4749;
    -webkit-box-shadow:#BC4749 3px 3px;
    box-shadow:#BC4749 3px 3px;
}

/* About pages */

#aboutml img {
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 20vw;
    min-height: 80vh;
    margin: auto;
}

#aboutmltext, #aboutownertext {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 1em;
}

#aboutmltext {
    margin: auto 2em;
}

#aboutownertext {
    width: 40vw;
    margin: auto 2em;
}

#aboutowner img {
    max-height: 80vh;
    max-width: 50%;
    margin: auto;
}

/* Classes page */

#classescontent h2 {
    margin: 0 auto 1em auto;
    padding: 1em;
    background: #FFFFFF;
    width: 80%;
    border-radius: 20px;
}

#classeslists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

#classeslists > div {
    padding: 2em;
    margin: auto 1em;
    border-radius: 20px;
    width: 20vw;
    min-height: 50vh;
    background-size: cover;
    border: 1px solid #386641;
    text-align: left;
}

#classeslist1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.9)), color-stop(rgba(242,232,207,0.9)), color-stop(130%, rgba(167,201,87,0.7))),
    url("../images/classes_image_1.jpg");
    background-image: -o-linear-gradient(top, rgba(255,255,255,0.9), rgba(242,232,207,0.9), rgba(167,201,87,0.7) 130%),
    url("../images/classes_image_1.jpg");
    background-image: linear-gradient(180deg, rgba(255,255,255,0.9), rgba(242,232,207,0.9), rgba(167,201,87,0.7) 130%),
    url("../images/classes_image_1.jpg");
}

#classeslist2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.9)), color-stop(rgba(242,232,207,0.9)), color-stop(130%, rgba(167,201,87,0.7))),
    url("../images/classes_image_2.jpg");
    background-image: -o-linear-gradient(top, rgba(255,255,255,0.9), rgba(242,232,207,0.9), rgba(167,201,87,0.7) 130%),
    url("../images/classes_image_2.jpg");
    background-image: linear-gradient(180deg, rgba(255,255,255,0.9), rgba(242,232,207,0.9), rgba(167,201,87,0.7) 130%),
    url("../images/classes_image_2.jpg");
}

#classeslist3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.9)), color-stop(rgba(242,232,207,0.9)), color-stop(130%, rgba(167,201,87,0.7))),
    url("../images/classes_image_3.jpg");
    background-image: -o-linear-gradient(top, rgba(255,255,255,0.9), rgba(242,232,207,0.9), rgba(167,201,87,0.7) 130%),
    url("../images/classes_image_3.jpg");
    background-image: linear-gradient(180deg, rgba(255,255,255,0.9), rgba(242,232,207,0.9), rgba(167,201,87,0.7) 130%),
    url("../images/classes_image_3.jpg");
}

/* Footer */

footer {
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F2E8CF), color-stop(10em, #A7C957));
    background-image: -o-linear-gradient(top, #F2E8CF, #A7C957 10em);
    background-image: linear-gradient(180deg, #F2E8CF, #A7C957 10em);
    margin: auto;
    margin-bottom: 0;
    border-top: 2px solid #386641;
}

/* Contact page and form */
/* Form-specific pseudo-selectors used: :valid, :checked, :optional, :required, and :placeholder-shown. */

form {
    background: #F2E8CF;
    padding: 2em;
    width: 30vw;
    min-width: 440px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1em 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5em;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    border-radius: 10px;
}

form h2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin: 0;
    margin-bottom: 1em;
}

label {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
}

.isrequired::after {
    content: "*";
    color: #790000;
}

input, textarea {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    border: 2px solid #000000;
    line-height: 1.5em;
    border-radius: 5px;
}

input:-moz-placeholder-shown, textarea:-moz-placeholder-shown {
    background-color: #DDDDDD;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    background-color: #DDDDDD;
}

input:placeholder-shown, textarea:placeholder-shown {
    background-color: #DDDDDD;
}

input:focus, textarea:focus, input:checked + label {
    background-color: #FFFFFF;
}

input:required:valid, textarea:valid {
    border: 2px solid #A7C957;
}

input:checked {
    outline: 2px solid #386641;
}

/* The below rule is just for the "Age" field. As an optional field it displays the green border indicating a valid input even if the user hasn't written anything unless these further rules are applied. */

input:optional:valid:not(:-moz-placeholder-shown) {
    border: 2px solid #A7C957;
}

input:optional:valid:not(:-ms-input-placeholder) {
    border: 2px solid #A7C957;
}

input:optional:valid:not(:placeholder-shown) {
    border: 2px solid #A7C957;
}

input[type="radio"] + label, input[type="checkbox"] + label {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

fieldset {
    margin: auto;
    border: 0;
    white-space: nowrap;
}

textarea {
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px;
}

#tcwrapper {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
}

#submitbutton {
    border: 2px solid #000000;
}

#helpbutton {
    height: 1.5em;
    width: 6em;
    margin:  1em auto auto auto;
    background: #FFFFFF;
    font-weight: bold;
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

#helpbutton:hover {
    border: 2px solid #BC4749;
    color: #BC4749;
}

#requirednotice {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    background: #FFFFFF;
    color: #790000;
    border-radius: 10px;
}

#submissionsuccess {   
    color: #000000;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
}

/* Icon styling */

input[type="text"], input[type="number"], input[type="email"],
input[type="tel"] {
    width: 100%;
    padding-left: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.inputicons i {
    position: absolute;
    padding: 6px;
}

.icon {
    color: #386641;
}

/* Form jQuery styling */

label.error {
    color: #790000;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    margin: 0;
}

input.error, textarea.error {
    border: 2px solid #FF0000;
    font-weight: 300;
    color: #790000;
}

/* Video */

video {
    height: auto !important;
    width: 100% !important;
}

#helpvideo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 2%;
    left: 2%;
    width: 46vw;
    padding: 40px;
    border-radius: 20px;
    background: #FFFFFF;
    visibility: hidden;
}

#helpbutton:hover ~ #helpvideo {
    visibility: visible;
}

@media only screen and (max-width: 900px) {

    main {
        width: 100%;
    }

    navigation ul {
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #classeslists > div {
        width: 100%;
        min-height: 0;
        margin: 0.5em 0;
        border-radius: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    section, #classeslists {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }

    #homeimage, #aboutml img, #aboutowner img,
    #hometext, #aboutmltext, #aboutownertext {
        width: 100%;
        margin: 0.5em 0;
        max-width: 100%;
        border-radius: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    
    #hometext {
        margin-bottom: 2em;
    }
    
    #aboutowner img {
        max-height: unset;
        max-width: unset;
    }

    /* Contact page and form mobile */

    form {
        min-width: 0;
        width: 100%;
        padding: 0;
        grid-row-gap: 0px;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        border-radius: 0;
    }
    
    form h2 {
        -ms-grid-column: 2;
        grid-column: 2;
        white-space: nowrap;
        margin: 0.5em 0;
    }

    .inputicons .fa-user-group {
        display: none;
    }
    textarea, #tcwrapper, input, .inputicons {
        width: 100%;
        margin-top: 0.1em;
        margin-bottom: 0.2em;
        -ms-grid-column-span: 3;
        grid-column: span 3;
        border-radius: unset;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    input:optional, select:optional, label,
    #genderselect, #requirednotice, .fa-user-group,
    .hideonmobile {
        display: none;
    }
    
    input:checked {
        outline: 0;
    }

    .isrequired::after {
        content: "";
    }

    #tcwrapper {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #tcwrapper input {
        -ms-grid-column: 1;
        grid-column: 1;
        margin: 1.5em;
        
    }

    #tcwrapper label {
        display: initial;
        -ms-grid-column: 2;
        grid-column: 2;
        text-align: start;
        white-space: nowrap;
        margin: auto;
    }

    #helpbutton {
        -ms-grid-row: 12;
        grid-row: 12;
        -ms-grid-column: 2;
        grid-column: 2;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    #helpvideo {
        top: 8%;
        width: 90vw;
        padding: 10px;
        border-radius: 20px;
        background: #FFFFFF;
        visibility: hidden;
    }
}

/* Minor tweaks for elements that don't display right at smaller screen sizes */

@media only screen and (max-width: 440px) {
    #tcwrapper label {
        margin-left: 1em;
    }
}

@media only screen and (max-width: 400px) {
    
    #tcwrapper label {
        white-space: unset;
        text-align: center;
    }

}

.hiddenelement {
    display: none;
}